.item-md{
    margin-bottom: 10px;
    background-color: none !important;
}
.song-title{
    font-size: 17px !important; 
    color: #fff !important;
    padding: 0px;   
}
.singer{
    font-size: 12px !important;
    margin-top: 5px !important;
    color: #fff !important;
    padding: 0px;
}
.list .list-md{
    background-color: none !important;
}
.current-play-div ion-avatar img {
    overflow: hidden;
    width: 50px;
    height: 50px;
}
.current-play-div{
    height: 50px;
    padding: 0px !important;
}
.play-symbols ion-icon{
    font-size: 25px;
    margin-left: 15px;
}
.play-symbols{
    padding-top: 10px;
}
.label-md{
    padding: 0px;
}